<div class="row">
  <div class="col-md-6">
    <div class="thumnail">
      <%= image_tag @listing.image.url(:medium) %>
    </div>
  </div>
  
  <div class="col-md-6">
    <p>
      <strong>Name:</strong>
      <%= @listing.name %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @listing.description %>
    </p>
    
    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@listing.price) %>
    </p>
    
    <div class="text-center">
      <%= link_to "Buy it now","#", class: "btn btn-primary" %>
    </div>
    
  </div>
</div>    
    <%= link_to 'Edit', edit_listing_path(@listing) %> |
    <%if (user_signed_in?) && (current_user == @listing.user) %>
      <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> 
    <% end %>
    <%= link_to 'Back', listings_path %>
