<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        Hihi Shop
      <% end %>
    </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav nav-tabs navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            My account<span class="caret"></span>
          </a>
          <ul class= "dropdown-menu">
            <li><%= link_to "Sales History", sales_path %></li>
            <li><%= link_to "Purchases History", purchases_path %></li>
            <li><%= link_to "Manage Listings", seller_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <!--<li><%= link_to "Sales History", sales_path %></li>
        <li><%= link_to "Purchases History", purchases_path %></li>
        <li><%= link_to "Manage Listings", seller_path %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>-->
      <%else%>
        <li role= "presentation"><%= link_to "Sign Up", new_user_registration_path %></li><li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log in<span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu">
    				<li>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    					 <div class="row">
    							<div class="col-md-12">
    									 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="field form-group">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, autofocus: true, class:'form-control' %>
                        </div>
                        <div class="field form-group">
                          <%= f.label :password %><br />
                          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                        </div>
                        <% if devise_mapping.rememberable? -%>
                          <div class="field form-group">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end -%>
    									<div class="actions form-group">
                        <%= f.submit "Log in", class: 'form-control' %>
                      </div>
                  </div>
    					 </div>
    					<% end %>
    				</li>
    			</ul>
        </li>
      <%end%>
    </ul>
  </div>
  </div><!-- /.container-fluid -->
</nav>